body{
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

@font-face {
  font-family: 'yugioh';
  src: url('fonts/yu-gi-oh-matrix-bold.ttf') format('truetype');
}

h1{
  font-family: 'yugioh', sans-serif;

}

h2{
  font-family: 'yugioh', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

header{
  font-family: 'yugioh', sans-serif;
  display: flex;
  gap: 150px;
  margin-top: 2%;
  margin-bottom: 10%;
}

input{
  font-family: 'yugioh', sans-serif;
  width: 195%;
  height: 50px;
}

#login{
  background-color: orange;
  border-radius: 10px;
  width: 200%;
  height: 50px;
}

.illustrationMemory{

    width: 20%;
}

ul{

  display: flex;
  list-style: none;
  gap: 60px;
}

.carte{
    background-image: url("/img/yugi.png");
    width: 187px;
    height: 277px;
    
    
}

.pioche {
  background-image: url("/img/YGO-Back-AE.webp");
  width: 202px;
  height: 290px;
  animation: pioche 2s  ;
}

@keyframes pioche{
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(180deg); }
}

.ulTurn{

  background-image: url("/img/YGO-Back-AE.webp");
    width: 201px;
  height: 293px;
  cursor: pointer;
}

.lesCartes{
  
  background-image: url('./img/terrain-yu-gi-oh-speed-duel.jpg');
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 496px;
  border-radius: 10px;
  flex-direction: column;
}

.winOrLoose{
  font-size: 50px;
  font-family: 'yugioh', sans-serif;
}



.retry{
  position: absolute;
  background-color: bisque;
  border: bisque;
  font-size: 25px;
  top: 130px;
  left: 185px;
  cursor: pointer;
}

#loggin{

  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 180px;
}

#local{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 180px;
}

#valider{
  background-color: orange;
  border-radius: 10px;
  width: 200%;
  height: 50px;
}

#zoneCarte{

  
  position: absolute;
  display: flex;
  gap: 50px;
  margin-left: 10vh;
  margin-top: 40%;
}

#zoneCarte2{
  display: none;
  
}

.lesBoutons{
  
  display: flex;
  flex-direction: row;
  gap: 45px;
  padding-left: 40px;
}

.lesResultats{
  display: flex;
  gap: 40px;
  font-size: 50px;
  font-family: 'yugioh', sans-serif;
  margin-top: 6%;
}

.tirage{
  font-family: 'yugioh', sans-serif;
  height: 50px;
  width: 200px;
  border: 1px;
  border-radius: 35px;
  cursor: grabbing;
  transform: translateY(10px);
  transition: transform 0.6s ease-in-out;
}

.tirage:hover{

  transform: translateY(0)
}

.points{
  font-size: 30px;
  font-family: 'yugioh', sans-serif;
}

.adversPoints{
  font-size: 30px;
  font-family: 'yugioh', sans-serif;
  color: red;
}